body {
    margin:0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  

  .nav_link{
    color: black;
  font-weight: bold;
  text-decoration: none;
  margin:12px;
  display:flex;
  overflow:hidden;
    white-space:nowrap;
align-items:center;
flex-direction:column;
border:none;
  font-size:0.95rem;
  position: relative;
  
  }
  .nav_link:hover{
    cursor:pointer;
  }
  .nav_link1{
    color: black;
  
    font-weight: bold;
    text-decoration: none;
    margin: 12px;
    font-size:0.8rem;
    display:flex;
    align-items:center;
    flex-direction:column;
    border:none;
    overflow:hidden;
      white-space:nowrap;
  }
  .active_navLink{
    color:#008066;
  }

  /* mobile responsive */
  @media (max-width : 480px) {
    .nav_link1{
    font-size:0.72rem;
    flex-grow:1;
    font-weight:0px;
    -webkit-tap-highlight-color:transparent;
    transition:background-color 0.1s ease-in-out;
    }

    .nav_link{
      font-size:0.72rem;
      -webkit-tap-highlight-color:transparent;
      transition:background-color 0.1s ease-in-out;
    }
    .loginModalCloseIcon{
      top: -40px !important;
      right: -20px !important;
    }
    }

    @media (max-width : 750px) {
      .mainContainer{
      
      width: 100%;
      overflow-y: auto;
    }
    
    .mainContainer .subcontainer-1 {
   
      width: 100%;
      height: 78vh;
      display: flex;
      justify-content: center;
      flex-direction: column;
      border-right: 0px;
    }
    .mainContainer .subcontainer-2{
      display:none;
    }
    .mainContainer .heading{
      font-size:large;
    }
    .mainContainer .bt-text{
      font-size: 14px;
    }
    .details .labeltext{
      font-size: 15px;
    }
    .details .text::placeholder{
      font-size: 15px;
    }
      }

    /* mobile responsive */

    .loginModalCloseIcon:hover{
      filter: brightness(1.2);
      transform: translateY(-5%);

    }

    .icon-button{
      text-decoration: none;
      border-radius: 10px;
      margin: 5px;
      padding: 5px;
      position: relative;
      text-align: center;
      -webkit-user-select:none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    .whatsapp{
      color:#075E54 ;
    }
    .facebook{
      color: #4267B2;
    }
    .instgram{
      color: #E1306C;
    }
    .instagram:hover{
      background-color: whitesmoke;
      color: #E1306C;
    }
    .whatsapp:hover{
      background-color: #25D366;
      color: white;
    }
    .facebook:hover{
      background-color: #4267B2;
      color: white;
    }


    .heading{
      font-size:x-large;
      font-weight: bold;
      text-align: center;
      margin: 10px;
      
    }
    
    .mainContainer{
      display: flex;
      justify-content: space-around;
      width: 100%;
      height: auto;

      overflow-y: auto;
    }
    
    .subcontainer-1 {
   
      width: 50%;
      border-right: 1px solid rgb(226, 232, 232);
    }
    .subcontainer-2{
      width: 50%;
      display: flex;
      align-items: center;
    }
    
    .buttongroup{
      display: flex;
      width: 60%;
      margin: 0 auto;
      align-items: center;
      justify-content: space-evenly
      ;
     
    }
  
    .bt-area{
      width: 45px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 7px;
      margin: 5px;
      /* border: 1px solid black; */
      
      
    }
    .bt-area:hover{
      filter: brightness(1.1);
    }
    .bt-google{
      background-color: rgb(240, 221, 221);
      border-radius: 50%;
      color: #d44c37;
     width: 40px;
     height: 40px;
     display: flex;
     align-items: center;
     justify-content: center; 
    }
    .bt-facebook{
      background-color: #dee1e6;
      border-radius: 50%;
     width: 40px;
     color: #3C5374;
     height: 40px;
     display: flex;
     align-items: center;
     justify-content: center; 
    }
    .bt-apple{
      background-color: rgb(233, 230, 230);
      border-radius: 50%;
      color: black;
     width: 40px;
     height: 40px;
     display: flex;
     align-items: center;
     justify-content: center; 
    }
    
    .bt img{
      width: 30px;
      height: 30px;
    }
    
    .sep{
      display: flex;
      align-items: center;
      margin:0 auto;
      width: 70%;
      height: 40px;
    }
    
    .sep .line{
      flex: 1;
      height: 1px;
      background-color: rgb(236, 232, 232);
    }
    
    .sep .text{
      color:  rgb(189, 185, 185);
      padding: 0 5px;
    }
    
    .details, .last{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 80%;
      margin: 0 auto;
      padding: 7px;
        }
    .last-1{
      width: 80%;
      margin: 0 auto;
      padding: 9px;
      
    }
    .last-nav-link{
      text-decoration: none;
    }
    .last-items{
      padding: 7px;
      text-decoration: none;
    }
    .details .labeltext{
      padding: 5px 5px 2px 5px;
    }
    
    .details .text {
      padding: 8.5px;
      margin: 2px 5px 10px 5px;
      font-size: 17px;
      border-radius: 5px;
      background-color: #E4E6F0;
      border: none;
      outline: none;
    }
    .details .text:focus{
      border: 2px solid #8FB4DC;
    }
    .details .text::placeholder{
      color:  rgb(189, 185, 185);
    }
    .details .text-submit {
      padding: 7px;
      margin: 5px;
      font-size: 14px;
      border-radius: 5px;
      cursor:pointer;
      border:none;
      color: white;
      background-color: #008066;
    }


    /* animation part */
    .fade-appear{
      opacity: 0;
    }
    .fade-appear-active{
      opacity: 1;
      
      transition:opacity 450ms ease-in-out;
    }
    .fade-exit{
      opacity: 0;
    }